body {
    background: url("../img/stars.jpeg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto Slab', serif;
    color: white;
}

h1 {
    text-align: center;
}

a, a:visited {
    color: white;
}

a:hover, a:focus, a:active {
    color: #bfbfbf;
}

.container {
    width: 70%;
    margin-top: 10%;
}

.well {
    background: none;
    border: 1px solid white;
}

.profile * {
    display: inline-block;
    margin-right: 10px;
}

.profile h3 {
    margin: 15px 20px;
}

.profile .btn {
    margin-top: -10px;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active  {
    background: none;
    color: white;
    font-size: 1.2em;
    border: 1px solid white;
}

.btn-default:hover {
    font-weight: bold;
    border-width: 2px;
}
