<!DOCTYPE html>
<html>
<body>
    <div class='container'>
        <h1>Stellar Salon</h1>
        <div class='row'>
            <div class='col-md-8'>
                <h2>All Stylists</h2>
                {% if stylists is not empty %}
                <p>Select a stylist to view their clients</p>
                    {% for stylist in stylists %}
                        <div class='well profile'>
                            <a href='/stylist/{{ stylist.getId }}'><h3>{{ stylist.getName }}</h3></a>
                            <a href='/stylist/{{ stylist.getId }}/edit'><button class='btn btn-default'>Edit</button></a>
                            <form action='/stylist/{{ stylist.getId }}' method='post'>
                                <input name='_method' type='hidden' value='delete'>
                                <button type='submit' class='btn btn-default'>Delete</button>
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class='well'>
                        <h4>Add a new stylist with the form on the right</h4>
                    </div>
                {% endif %}
            </div>
            <div class='col-md-4'>
                <h2>Add a New Stylist</h2>
                <form class='well' action='/' method='post'>
                    <div class='form-group'>
                        <input name='name' type='text' class='form-control' placeholder='Name'>
                    </div>
                    <button type='submit' class='btn btn-default'>Add</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
