<!DOCTYPE html>
<html>
<body>
    <div class='container'>
        <h1>Hair Salon</h1>
        <div class='row'>
            <div class='col-md-8'>
                <h3>All Stylists</h3>
                {% for stylist in stylists %}
                    <div class='well'>
                        <a href='/stylist/{{ stylist.getId }}'><h4>{{ stylist.getName }}</h4></a>
                        <a href='/stylist/{{ stylist.getId }}/edit'><button class='btn btn-warning'>Edit</button></a>
                        <form action='/' method='post'>
                            <input name='_method' type='hidden' value='delete'>
                            <button type='submit' class='btn btn-danger'>Delete</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
            <div class='col-md-4'>
                <h3>Add a New Stylist</h3>
                <form class='well' action='/' method='post'>
                    <div class='form-group'>
                        <label for='name'>Name:</label>
                        <input id='name' name='name' type='text' class='form-control'>
                    </div>
                    <button type='submit' class='btn btn-info'>Add</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
